@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:wght@100;300;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navegação */

#navegacao{
    width: 100%;
    height: 80px;
    background-color: #c1c1c1;
}

#navegacao .nav-brand{
    display: block;
    float:left;
    padding: 5px;
}

#navegacao ul {
    float: left;  
}

#navegacao ul li{
    display: inline-block;   
}

#navegacao ul li a{
    display: block;
    padding: 31px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    transition: 0.3s ease-out;
}

#navegacao ul li a:hover{
    background-color: #ccc;
    transition: 0.3s ease-in;
}

/* Conteúdo */

main{
    max-width: 1280px;
    margin:0 auto;
    padding: 50px 0;
}

/* Destaques */

#destaques article{
    width: 22%;
    display: inline-block;
    margin: 0 1%;
}

