*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1{
    padding-top: 200px;
    text-align: center;
}

.bloco-login{
    display: inline-block;
    background-color: #ccc;
    min-width: 500px;
    height: 950px;
}

/* .imagemfundo{
    display: inline-block;
    position: absolute;
    background-image: url("bgimg.png");
} */

body{
    background-image: url(bgimg.png);
    background-position: 70vh;
    background-repeat: no-repeat;
}

.form{
  display: block;
  padding: 40px 40px 10px;
  margin-left: 60px;
}

.esquecisenha{
    display: block;
    text-align: right;
}

input[type=text]{
    width: 300px;
    padding: 10px 10px;
}

.linha{
    display: block;
    border-bottom: 0.2px solid black;
    width: 58%;
    margin-left: 120px;
    margin-top: 20px;
}

.btn{
    margin-left: 100px;
    display: block;
    background-color: rgb(29, 117, 249);
    padding: 8px 145px;
    border-radius: 6px;
    text-decoration: none;
    align-content: center;
    color: white;
    margin-top: 30px;
}

.btn2{
    margin-left: 100px;
    display: block;
    background-color: #ccc;
    padding: 8px 113px;
    border-radius: 6px;
    text-decoration: none;
    align-content: center;
    color: grey;
    margin-top: 30px;
    border-color: grey;
}

