.container{
    background-color: red;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px auto 30%;
    grid-template-rows: 150px 100px;

}

.container .grid-item{
    background-color: grey;
    padding: 20px;
    border: 2px solid black;
}

