@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:wght@100;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    margin-top: -11vw;
}

.header{
    grid-area: header;
    background-color: #FFCDD2;
    width: 100vw;
    max-height: 120px;
    padding-left: 8vw;
    position: fixed;
    display: block;
    margin-bottom: 80vw;
}

.logo{
    position: absolute;
    display: inline-block;
    margin-left: 80px;
    height: 12vh;
    padding-top: 15px;
    padding-bottom: 10px;
}

.header a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 15px;
    font-size: 1rem;
    color: black;
}

.header ul{
    display: block;
    margin-top: 2vw;
    margin-right: 15vw;
    list-style: none;
    height: 120px;
}

.header ul li{
    float: right;
    padding-right: 20px;
}

.header ul li:hover{
    background-color: rgb(209, 93, 91);
    transition: ease-in-out .3s;
}

main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 200px;
    background-color: white;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 30%;
    grid-template-areas: 
    'content content content'
    'containerRow1 containerRow1 containerRow1'
    'containerRow2 containerRow2 containerRow2'
    'containerRow3 containerRow3 containerRow3'
    ;

}

.container1{
    background-color: #01579B;
    text-align: center;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 30px;
}

.container2{
    background-color: #E65100;
    text-align: center;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 30px;
}

.container3{
    background-color: #004D40;
    text-align: center;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 30px;
}

.containerRow1-1{
    background-color: #01579B;
    text-align: center;
    color: white;
    padding: 10px;
}

.containerRow1-2{
    background-color: #E65100;
    text-align: center;
    color: white;
    padding: 10px;
}

.containerRow1-3{
    background-color: #004D40;
    text-align: center;
    color: white;
    padding: 10px;
}

.containerRow2{
    background-color: #FF9800;
    text-align: center;
    color: white;
    padding: 10px;
}

.containerRow3{
    background-color: #4CAF50;
    text-align: center;
    color: white;
    padding: 10px;
}

.itens{
    margin-bottom: 0px;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    background-color: white;
    padding: 10px;
    display: grid;
   
    grid-template-columns: 25%;
    grid-template-areas: 
    'iten-1 iten-2 iten-3 iten-4'
    'img img img img'
    'text text text text'
    'ler ler ler ler'
    ;
}

.iten-1{
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #2196F3;
    padding: 5px;
    width: 80px;
    color: white;
    text-align: center;
}

.iten-2{
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #E91E63;
    padding: 5px;
    width: 80px;
    color: white;
    text-align: center;
}

.iten-3{
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #4CAF50;
    padding: 5px;
    width: 160px;
    color: white;
    text-align: center;
}

.iten-4{
    margin-left: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #FF9800;
    padding: 5px;
    width: 100px;
    color: white;
    text-align: center;

}

.img{
    height: 220px;
    margin-left: 5px;
}

.text{
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-color: #ccc;
    border-style: groove;
    border-bottom: 0px;
    border-top: 0;
}

.ler{
    margin-left: 5px;
    text-align: center;
    padding: 10px;
    border-color: #ccc;
    border-style: groove;
    text-decoration: none;
}

.ler a{
    color: black;
}

.ler a:hover{
    background-color: #ccc;
    transition: ease-in-out .3s;
}

footer{
    width: 100%;
    height: 180px;
    background-color: rgb(229, 57, 53);
}

footer .esquerda,
footer .centro,
footer .direita{
    display: inline-block;
    width: 30%;
    text-align: center;
}

footer .esquerda h4,
footer .centro h4,
footer .direita h4{
    font-size: 18px;
}

footer .direita{
    padding-top: 40px;
}

footer .direita ul li{
    list-style: none;
    text-align: center;
}

.assinatura{
    text-align: center;
}

footer h4, small{
    color: white;
}

footer p{
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}